### pato y el dataset multas

In [3]:
import duckdb

%load_ext sql
conn = duckdb.connect() #duckdb.connect('/home/jcaubin/duck_test.db') #conexion a bbdd en memoria o en fichero
%sql conn --alias dbmultas


#limite de filas a mostrar
%config SqlMagic.displaylimit = 100 

%sql -l

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Active connections:
+---------+------+----------+
| current | url  |  alias   |
+---------+------+----------+
|    *    | None | dbmultas |
+---------+------+----------+

In [10]:
import polars as pl

df = pl.read_csv('https://datos.madrid.es/egob/catalogo/210104-385-multas-circulacion-detalle.csv', separator=';', encoding='latin_1' )
df.shape

(242650, 14)

In [11]:
%%sql 

create table multas202406 as
select * from df;

Running query in 'dbmultas'

+--------+
| Count  |
+--------+
| 242650 |
+--------+

In [13]:
%%sql
describe multas202406

Running query in 'dbmultas'

+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+------+------+---------+-------+
|                                                                      column_name                                                                       | column_type | null | key  | default | extra |
+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+------+------+---------+-------+
|                                                                      CALIFICACION                                                                      |   VARCHAR   | YES  | None |   None  |  None |
|                                                                         LUGAR                                                                          |   VARCHAR   | YES  | None |   None  |  None |
|                                                                          MES                                                                           |    BIGINT   | YES  | None |   None  |  None |
|                                                                          ANIO                                                                          |    BIGINT   | YES  | None |   None  |  None |
|                                                                          HORA                                                                          |    DOUBLE   | YES  | None |   None  |  None |
|                                                                        IMP_BOL                                                                         |   VARCHAR   | YES  | None |   None  |  None |
|                                                                       DESCUENTO                                                                        |   VARCHAR   | YES  | None |   None  |  None |
|                                                                         PUNTOS                                                                         |    BIGINT   | YES  | None |   None  |  None |
|                                                                      DENUNCIANTE                                                                       |   VARCHAR   | YES  | None |   None  |  None |
|                                                                       HECHO-BOL                                                                        |   VARCHAR   | YES  | None |   None  |  None |
|                                                                       VEL_LIMITE                                                                       |   VARCHAR   | YES  | None |   None  |  None |
|                                                                      VEL_CIRCULA                                                                       |   VARCHAR   | YES  | None |   None  |  None |
|                                                                      COORDENADA-X                                                                      |   VARCHAR   | YES  | None |   None  |  None |
| COORDENADA-Y                                                                                                                                           |   VARCHAR   | YES  | None |   None  |  None |
+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+------+------+---------+-------+

In [15]:
%pip install fsspec

Collecting fsspec
  Downloading fsspec-2024.12.0-py3-none-any.whl.metadata (11 kB)
Downloading fsspec-2024.12.0-py3-none-any.whl (183 kB)
Installing collected packages: fsspec
Successfully installed fsspec-2024.12.0
Note: you may need to restart the kernel to use updated packages.

In [1]:

#desde url
import urllib.request

with urllib.request.urlopen('https://datos.madrid.es/egob/catalogo/210104-385-multas-circulacion-detalle.csv') as f:
   ...