In [1]:
import duckdb
import plotly.express as px

In [18]:
conn = duckdb.connect('/home/jcaubin/duck_test.db') 

%load_ext sql
%sql conn --alias duckdb

%config SqlMagic.displaylimit = 50 #conf de jupysql limite de filas a mostrar

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%%sql

select *
from v_calair
limit 5

Running query in 'duckdb'

+-----------+-----------+----------+----------+----------------+------+-----+-----+---+-------+---------+------------------+---------+------------------+----------------------------+---------------------+
| PROVINCIA | MUNICIPIO | ESTACION | MAGNITUD | PUNTO_MUESTREO | ANO  | MES | DIA | H | VALOR | VALIDEZ |  ESTACION_DESC   | ALTITUD |    PARAMETRO     |          FX_DATA           |          TS         |
+-----------+-----------+----------+----------+----------------+------+-----+-----+---+-------+---------+------------------+---------+------------------+----------------------------+---------------------+
|     28    |    079    |   102    |    81    | 28079102_81_98 | 2025 |  01 |  13 | 1 |  1.3  |    V    | J.M.D. Moratalaz |   686   | VELOCIDAD VIENTO | 2025-01-13 13:31:19.379000 | 2025-01-13 01:00:00 |
|     28    |    079    |   102    |    81    | 28079102_81_98 | 2025 |  01 |  13 | 2 |  2.0  |    V    | J.M.D. Moratalaz |   686   | VELOCIDAD VIENTO | 2025-01-13 13:31:19.379000 | 2025-01-13 02:00:00 |
|     28    |    079    |   102    |    81    | 28079102_81_98 | 2025 |  01 |  13 | 3 |  1.45 |    V    | J.M.D. Moratalaz |   686   | VELOCIDAD VIENTO | 2025-01-13 13:31:19.379000 | 2025-01-13 03:00:00 |
|     28    |    079    |   102    |    81    | 28079102_81_98 | 2025 |  01 |  13 | 4 |  0.47 |    V    | J.M.D. Moratalaz |   686   | VELOCIDAD VIENTO | 2025-01-13 13:31:19.379000 | 2025-01-13 04:00:00 |
|     28    |    079    |   102    |    81    | 28079102_81_98 | 2025 |  01 |  13 | 6 |  0.47 |    V    | J.M.D. Moratalaz |   686   | VELOCIDAD VIENTO | 2025-01-13 13:31:19.379000 | 2025-01-13 06:00:00 |
+-----------+-----------+----------+----------+----------------+------+-----+-----+---+-------+---------+------------------+---------+------------------+----------------------------+---------------------+
Truncated to displaylimit of 5.

In [16]:
%%sql --save precip_total_estacion

select estacion,estacion_desc, ano, mes, dia, sum(valor) total
from v_CALAIR 
where magnitud = 89 --precipitacion 
and validez = 'V'
--and estacion_desc in ['Casa de Campo'] --, 'Juan Carlos I', 'El Pardo','Peñagrande', 'Plaza Elíptica']
and date_diff ('day',TS, current_date()) < (30)
group by all
order by all

Running query in 'duckdb'

+----------+---------------+------+-----+-----+-------+
| ESTACION | ESTACION_DESC | ANO  | MES | DIA | total |
+----------+---------------+------+-----+-----+-------+
|    24    | Casa de Campo | 2025 |  01 |  31 |  0.0  |
|    24    | Casa de Campo | 2025 |  02 |  1  |  0.0  |
|    24    | Casa de Campo | 2025 |  02 |  2  |  0.0  |
|    24    | Casa de Campo | 2025 |  02 |  3  |  0.0  |
|    24    | Casa de Campo | 2025 |  02 |  4  |  0.0  |
+----------+---------------+------+-----+-----+-------+
Truncated to displaylimit of 5.

In [25]:
%%sql

select ano, mes, dia, avg(total) precip_media, max(total) precip_max, min(total) precip_min, median(total) precipt_mediana, stddev(total) desviacion, count(total) n
from precip_total_estacion
group by all
order by all

Generating CTE with stored snippets: 'precip_total_estacion'

Running query in 'duckdb'

+------+-----+-----+----------------------+---------------------+--------------------+--------------------+----------------------+----+
| ANO  | MES | DIA |     precip_media     |      precip_max     |     precip_min     |  precipt_mediana   |      desviacion      | n  |
+------+-----+-----+----------------------+---------------------+--------------------+--------------------+----------------------+----+
| 2025 |  01 |  31 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 5  |
| 2025 |  02 |  1  |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  2  |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  3  |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  4  |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 9  |
| 2025 |  02 |  5  |        0.002         |         0.02        |        0.0         |        0.0         | 0.006324555320336759 | 10 |
| 2025 |  02 |  6  |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  7  |  4.404999999999999   |         6.65        | 1.8000000000000003 |        4.45        |  1.7018698866573527  | 10 |
| 2025 |  02 |  8  |        0.018         |         0.1         |        0.0         |        0.0         | 0.03359894178227774  | 10 |
| 2025 |  02 |  9  |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  10 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  11 |         6.49         |  12.350000000000001 |        0.0         |        6.3         |  4.305474551209322   | 10 |
| 2025 |  02 |  12 |         2.09         |         3.7         |        0.0         |        2.5         |  1.299957264254825   | 10 |
| 2025 |  02 |  13 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  14 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  15 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 9  |
| 2025 |  02 |  16 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  17 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  18 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 9  |
| 2025 |  02 |  19 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  20 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  21 | 0.21000000000000002  |         1.1         |        0.0         |        0.05        |  0.3446415206816756  | 10 |
| 2025 |  02 |  22 | 0.33999999999999997  |  2.4000000000000004 |        0.0         |       0.025        |  0.7644169891710502  | 10 |
| 2025 |  02 |  23 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  24 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  25 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  26 |         0.0          |         0.0         |        0.0         |        0.0         |         0.0          | 10 |
| 2025 |  02 |  27 |         0.9          |  1.7999999999999998 |        0.0         | 0.8500000000000001 |  0.6476453075908483  | 10 |
| 2025 |  02 |  28 | 0.015000000000000003 | 0.15000000000000002 |        0.0         |        0.0         | 0.047434164902525694 | 10 |
| 2025 |  03 |  1  |  5.965000000000001   |  10.900000000000002 |        0.0         |        6.65        |  4.1158264999605825  | 10 |
| 2025 |  03 |  2  |  8.559000000000001   |  19.999999999999996 | 4.050000000000001  | 7.799999999999999  |  4.353903612468546   | 10 |
+------+-----+-----+----------------------+---------------------+--------------------+--------------------+----------------------+----+